{#

/* -------------------------

Title: _teaser.twig
Descr: output for teaser view modes
receives:
--- image as thumbnail
--- title
--- type (article, dept, major/minor, page)
--- byline_reference and media_source_reference if article
--- summary or trimmed
--- link to content
Setting up new block class of 'teaser'

--------------------------- */

#}

{# {{ vardumper(content) }} #}
{% set card_base_class = 'teaser' %}
{% set card_byline = card_byline | default('') %}
{% set card_dateline = card_dateline | default('') %}


<div {{ bem(card_base_class, (teaser_modifiers), card_blockname) }} {% if card_nodeId %}aria-labelledby="article-title-{{card_nodeId}}"{% endif %}>
{{teaser_img}}
  <div {{ bem(card_copy_base_class|default('card__copy'), (card_copy_modifiers), card_copy_blockname) }}>
    {% include "@content/atoms/_heading.twig" with {
      "heading_level": 2,
      "heading": teaser_title,
      "heading_url": teaser_title_link|default(teaser_link_url),
      "heading_blockname": teaser_title_blockname|default(teaser_base_class),
      "heading_modifiers": teaser_title_modifiers,
      "heading_link_base_class": teaser_title_link_base_class|default('title-link'),
      "heading_link_blockname": teaser_base_class,
      "heading_base_class": teaser_title_base_class|default('title'),
      "isAriaLabel" : teaser_nodeId
    } %}
    {% if card_label %}
      <span class="card__label">
        {{ card_label }}
      </span>
    {% endif %}
    <p>
      {% if teaser_dateline %}
        <span class="card__date">
          {{ teaser_dateline }}
        </span>
      {% endif %}
      {% if teaser_byline %}
        <span class="card__byline">
          by : {{ teaser_byline }}
          {% if teaser_media_source %}
          , {{ teaser_media_source }}
          {% endif %}
        </span>
      {% endif %}
    </p>
    {% if teaser_body %}
     {{teaser_body|raw}}
    {% endif %}
  </div>
</div>
