{% for tweet in params.tweets %}
{# tweet.created_at|date("n/j/Y g:i a") #}
{% set tweets_date=tweet.created_at|time_diff %}
  <div>
    <div>
      {% if tweet.extended_entities.media.0.media_url is not empty %}
        <p><img src='{{tweet.extended_entities.media.0.media_url }}'></p>
      {% endif %}
      <a href='https://twitter.com/i/web/status/{{ tweet.id }}'>
      <p>{{ tweet.full_text }}{{ tweet.text }}</p>
      </a>
      <p>{{ tweets_date }}</p>
    </div>
  </div>
{% endfor %}
