  {% for i in 1..6 %}
    <div class="sg-pattern pl-heading-examples">
      <h3 class="sg-pattern-title">h{{ i }}</h3>
      <h{{ i }} class="h{{ i }}">This is a Header {{ i }} example</h{{ i }}>
      <p>Lorem ipsum dolor amet everyday carry vaporware tote bag, schlitz cloud bread butcher lo-fi XOXO. Succulents squid mlkshk chambray PBR&B, keytar brunch microdosing twee tousled swag skateboard iPhone. Gastropub fanny pack normcore, whatever keffiyeh forage farm-to-table. Chartreuse butcher XOXO, cray adaptogen activated charcoal taiyaki lo-fi. Tofu mumblecore locavore, chartreuse kale chips 3 wolf moon church-key crucifix helvetica beard edison bulb PBR&B.</p>
    </div>
  {% endfor %}
{% if meta %}
  <p> <small>{{ meta.description }}</small> </p>
{% endif %}
