{# 

/* -------------------------

Title: event-list.twig
Descr: ouputs wrapper <ul> for an event list.
        the content is from the modules as-events

--------------------------- */ 

#}


{# set title class [], set value to add, add value to [] #}
{% set heading_classes = [''] %}
{% set heading_class %}
{{group_base_class}}__title
{% endset %}
{% set heading_classes = heading_classes|merge([heading_class]) %}





{{ title_prefix }}
<span {{attributes}}{{bem(group_base_class,(group_modifiers),'',group_classes)}}>
{% if label %}
  {% include "@atoms/00-text/_heading.twig" with {
    "heading_level" : 2,
    "heading" : label,
    "heading_class" : heading_classes
    }
  %}
{% endif %}
{{ title_suffix }}
{% block content %}
  <ul class="eventList">
    {{ content }}
  </ul>
</span>

{% endblock %}
