{# 
    This is the wrapper/field template for page components. Differes from _field.twig.
 #}

 {% set base_class = base_class | default('') %}
{% set modifiers = modifiers | default(['']) %}
{% set classes = classes | default(['']) %}

{# Group/container bem #}
{% set group_base_class = group_base_class | default('') %}
{% set group_modifiers = group_modifiers | default(['']) %}
{% set group_classes = group_classes | default(['']) %}

{# selfTag, to add the content to a class #}

{% set self_tag = self_tag | default('') %}


{% if label_hidden %}
    {% if multiple %}
        <div{{attributes}}{{bem(group_base_class,(group_modifiers),'',group_classes)}}>
            {% for item in items %}
            {{ item.content }}
        {% endfor %}
        </div>
    {% else %}
        {% for item in items %}
            {{ item.content }}
    {% endfor %}
    {% endif %}
{% else %}
    {% include "@atoms/00-text/_heading.twig" with {
        "heading_level" : 3,
        "heading" : label
    } %}
    <div{{attributes}}{{bem(group_base_class,(group_modifiers),'',group_classes)}}>
            {% for item in items %}
                {{ item.content }}
            {% endfor %}
    </div>
{% endif %}