{#

/* -------------------------

Title: views-view--search
Descr: main output business for search results views. Classes are from the view-display settings form. Rows gets output by views-view-list with _grouping.twig.

--------------------------- */

#}

{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{% set main_element_extra_classes = ['main']%}
{% set main_element_extra_classes = main_element_extra_classes|merge([domID.0]) %}

{% set main_element_base_class = 'basicSidebar' %}
{% set main_element_modifiers = ['viewContainer'] %}
{% set search_terms = exposed.keywords['#value'] %}
{# {{search_terms}} #}
{# {{label}} #}
{# {{vardumper(exposed)}}

{{exposed.keywords['#value']}} #}

	{% if search_terms is not empty %}
{% set view_sub_title = 'Search results for ' ~ '"'~search_terms~'"' %}
{% endif %}

{% set view_title = view.storage.label %}
{% set view_content = rows %}
{% set view_pager = pager %}
{% set view_sidebar = exposed %}

{% include "@organisms/view-list/_view-list.twig" with {
  view_title : view_title,
  view_sub_title : view_sub_title,
  view_content : view_content,
  view_pager : view_pager,
  view_sidebar : view_sidebar
}%}


{# <div{{attributes.addClass(classes)}}>

	{{ title_prefix }}
	{{ title }}
	{{ title_suffix }}

	{% if header %}

		{{ header }}


	{% endif %}

	{{ exposed }}
	{{ attachment_before }}

	SEaRCH
	{{ rows }}


	{{ empty }}
	{{ pager }}


	{{ attachment_after }}
	{{ more }}

	{% if footer %}
		<footer>
			{{ footer }}
		</footer>
	{% endif %}

</div> #}

{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
