{#

/* -------------------------

Title: _article.twig
Descr: Layout for default articles.
details:
  --- updates <main> based on article and has pano values
  --- shows pano if available
  --- shows aside for related information

Needed? :
  --- probably need to add a default 4 card news thing with links to all news to bottom of page.

--------------------------- */

#}

{% set isTitle = true %}
<main {{ bem(main_element_base_class, (main_element_modifiers), main_blockname, main_element_extra_classes) }}>
	{% if hasPano %}
		<div class="pano">
			{{article_pano}}
		</div>

	{% endif %}
	{# {{vardumper($content)}} #}
	<div class="title">
		{% include "@content/atoms/_heading.twig" with {
            "heading_level" : 1,
            "heading" : title,
            "heading_modifiers" : ["margin"],
            "heading_base_class" : "title"

        } %}
		<p class="byline">
			<a href="/news?byline={{ article_byline }}">
				{{ article_byline }}
			</a>
			,
			{{article_mediasource}}
			<br/>
			{{article_dateline}}
		</p>
	</div>
	<div class="social">
		<a href="">
			Twitter
		</a>
		<br/>
		<a href="">
			Facebook
		</a>
	</div>
	<div class="content">
		{{main_content}}
	</div>
	<div class="thumbnail">
		{{article_card}}
	</div>
	<aside role="complimentary">
		{{ aside_content }}
	</aside>
</main>
